.footer {
  text-align: center;
  padding: 20px 0px;
  background-color: floralwhite;
}
.footer div {
  font-size: 28px;
  font-weight: 500;
}
@media (max-width: 750px) {
  .footer div {
    font-size: 18px;
  }
}
